.intro-text{
  font-size: 4.2em;
  line-height: 75px;
  padding-bottom: 30px;
  color: #1dc7d0;
}

.about-me {
  font-size: 22px;
  font-weight: 200;
  line-height: 40px;
}

ol {
	list-style: none;
	padding: 0;
	margin: 1.5rem 0 5rem 0;
/*	line-height: 1.25em;*/
}

.big-biz li {
  margin: 1.25em 0;
  font-size: 1.9em;
  color: #55555d;
  line-height: 30px;
}

.sm-biz li {
  margin: 1.25em 0;
  font-size: 1.2em;
  color: #292A33;
}

.view-big-biz {
  font-size: 1.2em;
  border-right: 1px solid #cdcdcd;
  padding: 80px;
}

.view-sm-biz {
  font-size: 1.2em;
  padding: 80px;
}

.descriptor {
  font-size: 15px;
  font-style: italic;
  color: #888;
  padding-top: 3px;
  letter-spacing: 0.4px;
}

.descriptor-sm {
  font-size: 0.7em;
  font-style: italic;
  color: #888;
  padding-top: 3px;
  letter-spacing: 0.5px;
}


/*.sm-biz h6 {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 0.6em;
  color: #A2A2A2;
  letter-spacing: 0.5px;
}
*/
.biz {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 0.7em;
  color: #8f9696;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}


li {
	margin: 1.25em 0;
}

li .date {
	display: block;
	line-height:  1.875em;
}

strong {
	font-weight: bold;
}

.highlight {
	box-shadow: inset 0 -16px 0 0px #97F5F1;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  padding: 20px;	
  font-size: 30px;
  width: 50%;
}

.flex-container .half {
  width: 100%;
  height: 400px;
  text-align: center;
}

.flex-container .third {
  background-color: #ededed;
  padding: 20px;	
  font-size: 30px;
  width: 100%;
  border: 1px solid #666666;
  height: 400px;
  text-align: center;
}

.flex-container .full {
  background-color: #ededed;
  padding: 160px;
  text-align: center;	
  font-size: 30px;
  width: 100%;
  border: 1px solid #666666;
}

.hero {
  background-image: url('http://via.placeholder.com/1400x350');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.project-info {
  line-height: 1.8px;
}

.work-list {
	font-size: 1.4em;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.1em;
}

.work-list a {
	color: red;
}

.work-title {
  font-size: 2.0em;
  color: #1dc7d0;
  line-height: 25px;
  padding-bottom: 10px;
}s

.work-role {
  font-size: 0.9em;
  color: #979a9a;
}

.work-data {
  font-size: 0.7em;
  color: #979a9a;
}


.work-year {
  font-size: 0.9em;
  color: #979a9a;
  line-height: 25px;
  font-style: italic;
  font-family: 'Playfair Display', Serif;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

#circle-sm {
  width: 15px;
  height: 15px;
  background: #cdcdcd;
}

footer {
  margin-top: 80px;
  border-top: 1px solid #e4e4e4;
  color: #828282;
  font-size: 0.7em;
  height: 100px;
  padding-top: 20px;
  letter-spacing: 1.0px;
}

.main-name {
  color: #B2B5B9;
  font-size: 0.7em;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.intro-para {
  font-size: 1.2em;
  line-height: 5px;
  color: #738292;
  letter-spacing: 1.1px;
}

.contact-cta {
  text-align: center;
  font-family: 'Playfair Display', Serif;
  color: #fff;
  font-size: 1.6em;
  margin-top: 100px;
  background-color: #1dc7d0;
  padding: 120px;
}

.view-work-cta {
  background-color: #fff;
  padding: 80px;
  height: 600px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.wrapper { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 100px;
  align-items: stretch;
  grid-row-gap: 4em;
  }

.grid-img img {
  padding: 20px;
  background-color: #f1f1f1;
  margin: 0 auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* ----------------------------- */
/* == Nav */
/* ----------------------------- */

nav { padding-top: 40px; }
nav ul { list-style: none; }
nav ul li { display: inline; margin-left: 15px; }
nav ul li a { color: black; }
nav ul li a:visited { color: black; }
nav ul li a:hover { opacity: 0.4; }

.brand-logo {
  color: #666;
  font-family: 'Kanit', sans-serif;
  text-align: left;
  font-size: 2em;
  line-height: 2px;
  text-decoration: none;
  font-weight: 800;
}

a .brand-logo {
  text-decoration: none;
  color: red;
}

.brand-nav {
	font-size: 1.0em;
  padding: 10px;
}

.footnote{
  text-align: center;
  font-size: 0.9em;
  color: #a59f9f;
  padding-top: 30px;
}


/* Animations */
.thingToAnimate.hidden {
  visibility: hidden;
}

.testimonials {
  padding-top: 60px;
}

.darker {
  color: #324142;
  font-weight: 600;
}

.trust-bar {
  padding-top: 100px;
  background-color: #eaeaea;
  height: 700px;
}

.trust-bar h5 {
  padding-bottom: 60px;
  text-align: center;
}

.grid-client-logos { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 60px;
  align-items: stretch;
  grid-row-gap: 5.5em;
  }

.grid-client-logos img {
  color: #fff;
  max-width: 100%;
  filter: grayscale(100%);
  opacity: 0.4;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author *


/* ----------------------------- */
/* == Media */
/* ----------------------------- */


@media only screen and (max-width: 950px) {
    .intro-para {
    font-size: 1.2em;
    color: #738292;
    letter-spacing: 1.1px;
    line-height: 25px;
    }
}




