.intro-text{
  font-size: 4.2em;
  line-height: 85px;
  padding-bottom: 30px;
  color: #1dc7d0;
  font-weight: 900;
}

.about-me {
  font-size: 20px;
  line-height: 40px;
  margin-top: 12px;
}

.about-me-photo  {
  padding: 40px;

}

.about-me-photo img {
  -webkit-box-shadow: 0px 47px 100px 20px rgba(200,200,200,0.4);
    -ms-box-shadow: 0px 47px 100px 20px rgba(200,200,200,0.4);
    -o-box-shadow: 0px 47px 100px 20px rgba(200,200,200,0.4);
    box-shadow: 0px 47px 100px 20px rgba(200,200,200,0.4);
  }

.soft-pillow {
    -webkit-box-shadow: 0px 47px 100px 20px rgba(200,200,200,0.4);
    -ms-box-shadow: 0px 47px 100px 20px rgba(200,200,200,0.4);
    -o-box-shadow: 0px 47px 100px 20px rgba(200,200,200,0.4);
    box-shadow: 0px 47px 100px 20px rgba(200,200,200,0.4);
}

.center{
  text-align: center;
}

ol {
	list-style: none;
	padding: 0;
	margin: 1.5rem 0 5rem 0;
/*	line-height: 1.25em;*/
}

.view-work-cta {
  height: 290px;
}

.big-biz li {
  margin: 1.25em 0;
  font-size: 1.9em;
  color: #55555d;
  line-height: 30px;
}

.sm-biz li {
  margin: 1.25em 0;
  font-size: 1.2em;
  color: #292A33;
}

.view-big-biz {
  font-size: 1.8em;
  border-right: 1px solid #cdcdcd;
  padding: 104px;
}

a .view-big-biz:hover {
  background-color: #f5f4f4;
}

.view-sm-biz {
  font-size: 1.8em;
  padding: 104px;
  text-align: right;
}

a .view-sm-biz:hover {
  background-color: #f5f4f4;
}

.descriptor {
  font-size: 15px;
  font-style: italic;
  color: #888;
  padding-top: 3px;
  letter-spacing: 0.4px;
}

.descriptor-sm {
  font-size: 0.7em;
  font-style: italic;
  color: #888;
  padding-top: 3px;
  letter-spacing: 0.5px;
}

.biz {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 0.7em;
  color: #8f9696;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

li {
	margin: 1.25em 0;
}

li .date {
	display: block;
	line-height:  1.875em;
}

strong {
	font-weight: bold;
}

.highlight {
	box-shadow: inset 0 -16px 0 0px #97F5F1;
}

.flex-container-contact {
  display: flex;
}

.flex-container-contact > div {
  padding: 20px;	
  font-size: 30px;
  width: 50%;
}

.flex-container-contact .half {
  width: 100%;
  height: 400px;
  text-align: center;
}

.flex-container-contact .third {
  background-color: #ededed;
  padding: 20px;	
  font-size: 30px;
  width: 100%;
  border: 1px solid #666666;
  height: 400px;
  text-align: center;
}

.flex-container-contact .full {
  background-color: #ededed;
  padding: 160px;
  text-align: center;	
  font-size: 30px;
  width: 100%;
  border: 1px solid #666666;
}

.hero {
  background-image: url('http://via.placeholder.com/1400x350');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.project-info {
  line-height: 1.8px;
}

.work-container {
  border-top: 1px solid #ccc;
  padding: 50px 100px;

}

.work-list {
	font-size: 1.4em;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.1em;
}


.work-title {
  font-size: 2.4em;
  line-height: 25px;
  padding-bottom: 10px;
}

.work-role {
  font-size: 0.9em;
  color: #979a9a;
  line-height: 0.4;
}

li .work-role {
  font-size: 0.9em;
  color: #979a9a;
}

ul {
  list-style: none;
}

.work-data {
  font-size: 0.7em;
  color: #979a9a;
}


.work-year {
  font-size: 0.9em;
  color: #979a9a;
  line-height: 25px;
  font-style: italic;
  font-family: 'Playfair Display', Serif;
}

footer {
  margin-top: 80px;
  border-top: 1px solid #e4e4e4;
  color: #828282;
  font-size: 0.7em;
  height: 100px;
  padding-top: 20px;
  letter-spacing: 1.0px;
}

.main-name {
  color: #B2B5B9;
  font-size: 0.7em;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.intro-para {
  font-size: 1.2em;
  line-height: 10px;
  color: #738292;
  letter-spacing: 1.1px;
}

.contact-cta {
  background-color: #1dc7d0;
  margin-top: 120px;
  padding: 150px 50px;
}

.cta-info {
  text-align: center;
  font-family: 'Playfair Display', Serif;
  color: #fff;
  font-size: 2.1em;
  background-color: #1dc7d0;
  letter-spacing: 1.3px;
  font-weight: 400;
}

.cta-info-button {
  font-size: 2.1em;
}

.work-quote {
  text-align: center;
  font-family: 'Playfair Display', Serif;
  padding: 100px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.wrapper { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 100px;
  align-items: stretch;
  grid-row-gap: 4em;
}

.grid-img {
  text-align: center;
}

.grid-img img {
  background-color: #f1f1f1;
  margin: 0 auto;
 /* -webkit-filter: grayscale(100%);*/ /* Safari 6.0 - 9.0 */
 /*filter: grayscale(100%);*/
  max-width: 100%;
}

/* ----------------------------- */
/* == Nav */
/* ----------------------------- */

nav { padding-top: 40px; }
nav ul { list-style: none; }
nav ul li { display: inline; margin-left: 15px; }
nav ul li a { color: black; }
nav ul li a:visited { color: black; }
nav ul li a:hover { opacity: 0.4; }

.brand-logo {
  color: #666;
  font-family: 'Kanit', sans-serif;
  text-align: left;
  font-size: 2em;
  line-height: 2px;
  text-decoration: none;
  font-weight: 800;
}

a .brand-logo {
  text-decoration: none;
  color: red;
}

.brand-nav {
	font-size: 1.0em;
  padding: 10px;
}

a[href]:not(.brand-logo) {
  text-decoration: none;
  border-bottom: 1px solid rgba(29, 199, 208, 0.50);
  box-shadow: inset 0 -1px 0 rgba(29, 199, 208, 0.50);
  color: inherit;
  transition: background 0.9s cubic-bezier(.33,.66,.66,1);
}

[href]:not(.brand-logo):hover {
  background: rgba(29, 199, 208, 0.50);
}

.footnote{
  text-align: center;
  font-size: 0.7em;
  color: #bdbdbd;
  padding-top: 30px;
}


/* Animations */
.thingToAnimate.hidden {
  visibility: hidden;
}

.testimonials {
  padding-top: 60px;
}

.darker {
  color: #324142;
  font-weight: 600;
}

.trust-bar {
  padding: 100px 0;
  background-color: #eaeaea;
  margin: 60px 0px;
}

.trust-bar h5 {
  padding-bottom: 60px;
  text-align: center;
}

.grid-client-logos { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 60px;
  align-items: stretch;
  grid-row-gap: 5.5em;
  }

.grid-client-logos img {
  color: #fff;
  max-width: 100%;
  filter: grayscale(100%);
  opacity: 0.4;
}

/* ----------------------------- */
/* == Quote Slideer */
/* ----------------------------- */



/* Slideshow container-contact */
.slideshow-container-contact {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  opacity: 0.4;

}

/* The dot/bullet/indicator container-contact */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author *



/* ----------------------------- */
/* == Contact Form Accordion */
/* ----------------------------- */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 20%;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #333;
    font-size: 12px;
}


/* ----------------------------- */
/* == Contact Form Style */
/* ----------------------------- */


#contact {width:100%; height:100%; margin 0 auto; background: #DDD; }

.container-contact {width:960px; height:auto; margin: 0 auto; padding: 50px 0;}

#contact .container-contact form input,
#contact .container-contact form textarea {
  width:97.4%;
  height:30px;
  padding:5px 10px;
  font-size: 13px;
  color:#999;
  letter-spacing:1px;
  background: #FFF;
  border:2px solid #FFF;
  margin-bottom:25px;
  font-family: 'Source Sans Pro', Sans-Serif;
  -webkit-transition:all .1s ease-in-out;
  -moz-transition:all .1s ease-in-out;
  -ms-transition:all .1s ease-in-out;
  -o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;}

#contact .container-contact form input:focus,
#contact .container-contact form textarea:focus {
  border:2px solid #dd4545;
  color:#999;}

#contact .container-contact form textarea {
  height:150px;}

#contact .container-contact form .submit {
  width:100%;
  padding:5px 10px;
  font-size: 12px;
  letter-spacing:1px;
  background:#dd4545;
  height:40px;
  text-transform:uppercase;
  letter-spacing:1px;
  color:#FFF;
  border:2px solid #b43838;
  -webkit-transition:all .1s ease-in-out;
  -moz-transition:all .1s ease-in-out;
  -ms-transition:all .1s ease-in-out;
  -o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;}

#contact .container-contact form .submit:hover {
  color:#FFF;
  border:2px solid #dd4545;
  background: #b43838;
  cursor:pointer;}

#contact .container-contact form .required {
  color:#b43838;}


.pass-box {
  width:55%; 
  margin: 0 auto; 
  text-align:center; 
  background-color: #f5f5f5;
  padding: 40px;
  margin-top: 80px;
   -webkit-box-shadow: 0px 4px 12px 1px rgba(195, 199, 199, 0.8);
    -moz-box-shadow: 0px 4px 12px 1px rgba(195, 199, 199, 0.8);
  box-shadow: 0px 4px 12px 1px rgba(195, 199, 199, 0.8);
}



/* ----------------------------- */
/* == Media */
/* ----------------------------- */


@media only screen and (max-width: 1058px) {
    .intro-para {
    font-size: 1.2em;
    color: #738292;
    letter-spacing: 1.1px;
    line-height: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .work-quote {
  text-align: center;
  font-family: 'Playfair Display', Serif;
  }
}

@media only screen and (max-width: 600px) {
    .intro-text{
      font-size: 3.2em;
      line-height: 60px;
      padding-bottom: 30px;
      color: #1dc7d0;
      font-weight: 900;
    }
}

@media only screen and (max-width: 600px) {
    .brand-logo {
      color: #666;
      font-family: 'Kanit', sans-serif;
      text-align: left;
      font-size: 1.6em;
      text-decoration: none;
      font-weight: 800;
    }
}

@media only screen and (max-width: 840px) {
  .work-quote {
    text-align: center;
    font-family: 'Playfair Display', Serif;
    padding: 5px;
  }
}

@media only screen and (max-width: 840px) {
  .contact-cta {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        width: 50%;
        font-size: 15px;
        transition: 0.4s;
        border: 1px solid;
    }
}

@media only screen and (max-width: 900px) {
    .work-role {
      font-size: 0.9em;
      color: #979a9a;
      line-height: 1;
    }
}

@media only screen and (max-width: 660px) {
    footer {
      border-top: 1px solid #e4e4e4;
      color: #828282;
      font-size: 0.7em;
      padding-top: 20px;
      letter-spacing: 1.0px;
      text-align: center;
    }
}

@media only screen and (max-width: 980px) {
    .big-biz li {
      margin: 1.25em 0;
      font-size: 1.6em;
      color: #55555d;
      line-height: 30px;
    }
}

